.main {
      border: solid 1px black;
    width: 90em;
    height: 50em;
    margin: 0 auto;
    position: relative;
    top: 50px;
    background-size:contain;
    background-color: red;
}
/* Estadisticas generales de la partida */
#status {
    background-color: yellow;
    border: solid 1px black;
    width: 80em;
    margin: 0 auto;
    height: 2.5em;
    display: flex;
}
/* Cada estadistica */
.stats {
    background-color: aqua;
    border: solid 1px black;
    height: 40px;
    width: 200px;
    margin: 0 auto;
}
/* Zona de juego  */
#game {
background-color: green;
    width: 90em;
    height: 15em;
    margin: 0 auto;
    position: relative;
    top: 500px;
}
/* Web en negro para no sangrar los ojos :) */
html{
    background-color: black;
}
/* Pantalla de menú */
#pre-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 90em;
    height: 50em;
    margin: 0 auto;
    position: absolute;
    background-size:contain;
    background-image: url(./../assets/background/9SYf0EO.png);
    z-index: 5;
}
/* botones */
.btn{
    padding: 20px 30px 20px 30px;
    background: radial-gradient(blue, black);
    color: white;
    margin-top: 20px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 10px 4px black);
}
/* efecto para los botones */
.btn:hover{
    background: radial-gradient(green,black);
    color:yellow;
    font-weight: 800;
}
/*Cuadro de menu */
#menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.524);
    padding: 30px 40px 30px 40px;
    font-weight: 800;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px 20px 10px 10px;
    filter: drop-shadow(10px 10px 4px black);
}

#tutorial-image {
    position: absolute;
    z-index: 10;
    left: 30%;
    top: 10%;
    display: none;
    background-image: url(./../assets/background/prueba.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

#tutorial-image img{
   width: 60%;
}
/* Pendiente añadir imagen de controles para jugar */
#close-tutorial{
    position: absolute;
    right: 415px
}


/* Ronboide para la calle - Bonus */
/* border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-bottom: 100px solid #428bca; */